* {
    color: black;
}

a:link {
    color: #007acc;
    background-color: transparent;
    text-decoration: none;
}

.fakelink {
    color: #007acc;
    background-color: transparent;
    text-decoration: none;

}

a:hover {
    color: #0000cc;
    /*text-decoration: underline;*/
}

a:visited {
    /* this saved the color for me even when I closed and re-opened it, so I was scared it would keep the color when I uploaded it to Github haha */
    /* color: purple; */
}

body {
    background-color: #e2e5ef;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    padding: 1rem;
}

.bullet-list li::before {
    content: "\2022"; /* unicode symbol for bullet points */
    color: #007acc;
    font-weight: bold;
    font-size: 1.25em;
    display: inline-block;
    width: 1em;
    margin-left: -3em;
}

button {
    background-color: #007acc;
    opacity: 80%;
    margin-top: 1em;
    border-color: #007acc;
    color: #fff;
}

button:hover {
    opacity: 100%; /* make it more vibrant on hover */
}

.container-box {
    max-width:22%;
    max-height: 100%;
    padding: 20px;
    margin-bottom: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #f1f1f1;
    border: 1px solid #e3e3e3;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    margin-left: 21%;
    margin-right: 5%;
}

/* Organizes bullets for page content container-box
   Thank you W3Schools for the colorful bullet points:
   https://www.w3schools.com/howto/howto_css_bullet_color.asp */
.content-box li::before {
    content: "\2022"; /* unicode symbol for bullet points */
    color: #007acc;
    font-weight: bold;
    font-size: 1.25em;
    display: inline-block;
    width: 1em;
    margin-left: -4em;
}

.content-box li:hover {
    color: #007acc;
    /*font-size: 1.26em;*/ /* looked fun but too annoying */
}

.content-header {
    margin-left: 0%;
    font-size: 1.25em;
    font-weight: 600;
    padding: 1px 16px;
    color: #0099ff;
}

#counter_plus {
    cursor: pointer;
}

.ndiv {
    margin-left: 21%;
    margin-right: 5%;
    padding: 1px 16px;
}

.door {
    padding-right: 1em;
}

#door1 {
    margin-left: 23%;
}

/* Followed flip-card tutorial from W3Schools */
.flip-card {
    background-color: transparent;
    width: 13%;
    height: 13%;
    perspective: 1000px;
    margin-left: 21%;
    /*padding-right: 5em;*/
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -moz-transition: transform 0.6s;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    -mox-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* for Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: mediumpurple;
    color: white;
}

.flip-card-back {
    background-color: mediumpurple;
    color: white;
    transform: rotateY(180deg);
}

#tor {
    margin-left: 22%;
}

#brave {
    margin-left: 35%;
}

#firefox {
    margin-left: 49%;
}

#safari {
    margin-left: 63%;
}

#chrome {
    margin-left: 78%;
    padding-bottom: 16em;
}

.header {
    background-color: #0099ff;
    color: #fff;
    margin-bottom: 2rem;
    margin-left: 21%;
    padding: 2rem 1rem;
    text-align: left;
    font-size: 5em;
}

.heading {
    margin-left: 21%;
    padding: 1px 16px 15px;
    color: #0099ff;
}

.header_img {
    padding: 0em 1em;
}

html {
    scroll-behavior: smooth;
}

/* Referenced vertical navigation bar from W3Schools:
   https://www.w3schools.com/Css/css_navbar_vertical.asp */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    width: 20%;
    height: 100%; /* full height of page */
    position: fixed; /* would make it sticky */
    overflow: auto; /* enables scrolling if needed */
    display:block;
}

li n {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer; /* makes hand pointer on hover */
    font-size: 1.4vw;
}

li n.active {
    background-color: #0099ff;
    color: white;
}

li n:hover:not(.active) {
    background-color: #8c8c8c;
    color: white;
}

li a {
    cursor: pointer;
    font-size: 1.1em;
}

p {
    /*text-indent: 45px;*/
    margin-left: 21%;
    margin-right: 5%;
    padding: 1px 16px 30px;
    font-size: 1.25em;
}

/* Referenced popup tutorial from Geeksforgeeks:
   https://www.geeksforgeeks.org/how-to-create-popup-box-using-html-and-css/ */
.popup {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    margin-left: 21%;
    margin-right: 5%;
}

.popup-content {
    background-color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 40%;
    max-height: 80%;
    font-weight: bolder;
    font-size:1vw;
}

.popup-content button {
    display: block;
    width: 15%;
    height: 6%;
    margin: -2%;
    position: absolute;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.popup-content button:hover {
  border-color: forestgreen;
  background-color: forestgreen;
}

.popup-heading {
    font-size: 1.5vw;
    padding-bottom: 15px;
    text-align: center;
}

.popup-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    height: auto;
}

#accept_cookies {
    margin-left: 33%;
    margin-top: 34%;
    left: 0;
    top: 0;
    font-size: 1vw;
}

#reject_cookies {
    font-size: 1vw;
}

#d_certificate {
    margin:-3% auto;
    margin-left: 20%;
}

#p_certificate {
    margin:-3% auto;
    margin-left: 40%;
}

.show {
    display: block;
}

/* Help from W3Schools Snackbar:
   https://www.w3schools.com/howto/howto_js_snackbar.asp */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px;
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333;
  color: #fff;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; /* Rounded borders */
  padding: 16px;
  position: fixed; /* Sit on top of the screen */
  left: 50%;
  bottom: 30px;
  z-index: 2; /* so it shows up above the tip */
}

#snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/* Thank you to W3Schools for making it look pretty */
@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* Followed webnots tutorial:
   https://www.webnots.com/how-to-create-custom-css-text-boxes */
.tip {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: white;
    background-color: #0de1a6;
    font-family: verdana, 'open sans', sans-serif;
    margin-bottom: 25px;
    padding: 10px 14px 10px 44px;
    margin-left: 22%;
    margin-right: 10%;
    position:relative;
    -moz-box-shadow: 0px, 1px, 5px, #999;
    -webkit-box-shadow: 0px, 1px, 5px, #999;
    box-shadow: 0px, 1px, 5px, #999;
}


ul {
    list-style: none;
    margin-left: 24%;
    margin-right: 2%;
    font-size: 1.1em;
    padding-left: 50px;
}
